<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="template_report.css">
</head>
<body>
    <h1>Rapport Hebdomadaire</h1>
    <hr>

    <h3>Reprise - S1 - Endurance, Vitesse</h3>

    <h3>Volume</h3>
    <p>Volume Ciblé : 5:00:00</p>
    <p>Volume Réel : 2:25:22</p>

    <h3>Visualisation</h3>
    <img src="graphe_pourcentage.png" alt="graph_pourcentage_discipline">

    <div class="div-table">
        <table>
            <thead>
                <tr>
                    <th>Discipline</th>
                    <th>Temps passé</th>
                    <th>Nombre séances</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Natation</td>
                    <td>1:16:37</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Vélo</td>
                    <td>0:14:56</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Course à pied</td>
                    <td>0:53:49</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Musculation</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>2:25:22</td>
                    <td>7</td>
                </tr>
    
            </tbody>
        </table>
    
    </div>

    <!--
    <h3>Natation</h3>
    <table>
        <thead>
            <tr>
                <th>Nom séance</th>
                <th>Description</th>
                <th>RPE</th>
                <th>Qualité</th>
                <th>Durée</th>
                <th>Type de séance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
            </tr>
        </tbody>
    </table>

    <h3>Vélo</h3>
    <table>
        <thead>
            <tr>
                <th>Nom séance</th>
                <th>Description</th>
                <th>RPE</th>
                <th>Qualité</th>
                <th>Durée</th>
                <th>Type de séance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
            </tr>
        </tbody>
    </table>

    <h3>Course à pied</h3>
    <table>
        <thead>
            <tr>
                <th>Nom séance</th>
                <th>Description</th>
                <th>RPE</th>
                <th>Qualité</th>
                <th>Durée</th>
                <th>Type de séance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
            </tr>
        </tbody>
    </table>

    <h3>Musculation</h3>
    <table>
        <thead>
            <tr>
                <th>Nom séance</th>
                <th>Description</th>
                <th>RPE</th>
                <th>Qualité</th>
                <th>Durée</th>
                <th>Type de séance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
                <td>lorem</td>
            </tr>
        </tbody>
    </table>
     -->

</body>
</html>